---
import { getLangFromUrl } from '@/i18n/utils.ts';

const lang = getLangFromUrl(Astro.url);

const work = lang === 'en'
  ? (await import('@/CV/CvMainEnglish.json')).work
  : (await import('@/CV/CvMain.json')).work;

const translations = await import('@/i18n/traducciones.json');
const t = translations[lang];
---

<section id="experiencia" class="py-16">
  <div class="container mx-auto px-4 ">
    <div class="text-center mb-12">
      <h2 class="text-4xl font-bold text-gray-800 mb-4">{t.work_experience}</h2>
    </div>

    <div class="relative ml-12">
      <div class="absolute left-4 top-0 w-1 h-full bg-blue-100"></div>

      {work.map((exp, index) => {
        const formatDate = (dateString:any) => {
          if (!dateString) return '';
          const date = new Date(dateString);
          return date.toLocaleDateString('es-ES', {
            day: '2-digit',
            month: '2-digit',
            year: 'numeric'
          });
        };

        const startYear = formatDate(exp.startDate);
        const endYear = exp.endDate 
          ? formatDate(exp.endDate)
          : exp.startDate ? 'Actual' : '';

        return (
          <div class="relative mb-12 pl-12 group">
            <div class="absolute -left-2 top-0 w-12 flex justify-center">
              <div class="
                h-4 w-4 rounded-full
                bg-blue-600
                ring-4 ring-white
                shadow-md
                group-hover:scale-125 transition-transform duration-300
              "></div>
            </div>

            <div class="transition-transform duration-300 group-hover:translate-x-2">
              <h3 class="text-2xl font-bold text-gray-800">{exp.position}</h3>
              <h2 class="text-gray-800 font-medium">{exp.name}</h2>
              {(startYear || endYear) && (
                <p class="text-sm text-gray-500">
                  {startYear && `${startYear}${endYear ? ' - ' : ''}`}
                  {endYear}
                </p>
              )}
              <p class="text-gray-600 leading-relaxed mt-2">{exp.summary}</p>
            </div>
          </div>
        );
      })}
    </div>
  </div>
</section>

</script>